aws-lambda-powertools==1.25.9; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
aws-xray-sdk==2.9.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
boto3==1.21.46; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
botocore==1.24.46; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
fastjsonschema==2.15.3; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
future==0.18.2; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
jmespath==1.0.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.2" and python_full_version < "4.0.0"
python-dateutil==2.8.2; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
s3transfer==0.5.2; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
six==1.16.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
urllib3==1.26.9; python_full_version >= "3.6.2" and python_version < "4" and python_full_version < "4.0.0" and python_version >= "3.6"
wrapt==1.14.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
